<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095794775106-vrbq7hht42ftctt1q95cpb38kdibdgnb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095794775106-vrbq7hht42ftctt1q95cpb38kdibdgnb</string>
	<key>API_KEY</key>
	<string>AIzaSyCgd1oMGeIC-vUABfwsyIv5w87krUEwiRg</string>
	<key>GCM_SENDER_ID</key>
	<string>1095794775106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kazungudev.taskapp</string>
	<key>PROJECT_ID</key>
	<string>taskapp-6c203</string>
	<key>STORAGE_BUCKET</key>
	<string>taskapp-6c203.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095794775106:ios:cd16bd90127582beb249db</string>
</dict>
</plist>